.cart-wrapper {
    border: 2px solid green;
    border-radius: 8px;
    margin: 5px;
    padding: 4px 10px;
}

.cart-container {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.cart-container img {
    width: 20px;
    height: 20px;
}