.countries-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-wrapper img{
    width: 50px;
    height: 30px;
    margin: 2px;
}